{{range .Files}}
---
title: {{.Name}}
---
{{end}}

# API Reference

# Table of Contents
{{range .Files}}
{{if .HasServices}}
- Services
  {{range .Services}}  - [{{.Name}}](#{{.FullName | lower | replace "." ""}})
  {{end}}
{{end}}
{{if .HasMessages}}
- Messages
  {{range .Messages}}  - [{{.LongName}}](#{{.LongName | lower | replace "." ""}})
  {{end}}
{{end}}
{{if .HasEnums}}
- Enums
  {{range .Enums}}  - [{{.LongName}}](#{{.LongName | lower | replace "." ""}})
  {{end}}
{{end}}
{{end}}

{{range .Files}}

{{range .Services -}}
# {{.Name}} {#{{.FullName | lower | replace "." ""}}}
{{.Description}}

{{range .Methods -}}
## {{.Name}}

> **rpc** {{.Name}}([{{.RequestLongType}}](#{{.RequestLongType | lower | replace "." ""}}))
    [{{.ResponseLongType}}](#{{.ResponseLongType | lower | replace "." ""}})

{{$desc := .Description | replace "\n\n" "" | nobr }}
{{ regexReplaceAll "\\(.* api-linter:.*" $desc "" }}

{{end}} <!-- end methods -->

{{$service := .}}
{{- range .MethodOptions}}
{{$option := .}}
{{- if eq . "google.api.http"}}
#### Methods with HTTP bindings

| Method Name | Method | Pattern | Body |
| ----------- | ------ | ------- | ---- |
{{ range $service.MethodsWithOption . -}}
{{$name := .Name -}}
{{range (.Option $option).Rules -}}
| {{$name}} | {{.Method}} | {{.Pattern}} | {{.Body}} |
{{end -}}
{{end -}}
{{end -}}
{{end -}} <!-- end method options -->
{{end}} <!-- end services -->

# Messages
{{range .Messages}}

## {{.LongName}} {#{{.LongName | lower | replace "." ""}}}
{{.Description}}

{{if .HasFields}}
| Field | Type | Description |
| ----- | ---- | ----------- |
{{range .Fields -}}
	| {{if .IsOneof}}[**oneof**](https://developers.google.com/protocol-buffers/docs/proto3#oneof) {{.OneofDecl}}.{{end}}{{.Name}} | [{{if .IsMap}}map {{else}}{{.Label}} {{end}}{{.LongType}}](#{{.LongType | lower | replace "." ""}}) | {{if .Description}}{{.Description | replace "\n\n" "<br><br>" | nobr }}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}{{else}}none{{end}} |
{{end}} <!-- end Fields -->
{{end}} <!-- end HasFields -->

{{$message := .}}
{{- range .FieldOptions }}
{{$option := .}}
{{if eq . "validator.field" "validate.rules" -}}
#### Validated Fields
| Field | Validations |
| ----- | ----------- |
{{range $message.FieldsWithOption . -}}
  | {{.Name}} | <ul>{{range (.Option $option).Rules -}}<li>{{.Name}}: {{.Value}}</li>{{end -}} |
{{end -}}
{{else}}
#### Fields with {{.}} option
| Name | Option |
| ---- | ------ |
{{range $message.FieldsWithOption . -}}
| {{.Name}} | {{ printf "%+v" (.Option $option)}} |
{{end -}}
{{end -}}
{{end -}}
{{end}} <!-- end messages -->

# Enums
{{range .Enums}}

## {{.LongName}} {#{{.LongName | lower | replace "." ""}}}
{{.Description}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{range .Values -}}
	| {{.Name}} | {{.Number}} | {{if .Description}}{{nobr .Description}}{{else}}none{{end}} |
{{end}}

{{end}} <!-- end Enums -->
{{end}} <!-- end Files -->
